#! /bin/bash

# clear the screen
alias c='clear'

# Shortcuts
alias dc="cd ~/Documents"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"


# Create links to alias for all projects
for i in $(ls ~/projects); do  alias c.$i='cd ~/projects/'$i; done

# Git
alias gs='git status -s'
alias gc='git commit'
alias ga='git add'

# View abbreviated SHA, description, and history graph of the latest 20 commits
alias gl='git log --pretty=oneline -n 20 --graph --abbrev-commit'

# Show the diff between the latest commit and the current state
alias gd='git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat'

alias gp='git pull'

alias gb='git branch'
alias gba='git branch -a'

alias gcm='git commit -m'

alias gco='git checkout'
alias gcom='gco master'

alias gt='git tag -l'


#Maven
alias mci='mvn clean install'
alias mci-t='mvn clean install -Dmaven.test.skip=true'
alias mct='mvn clean test'


# docker
alias dkrn='docker run -it'
alias dkup='docker-compose up'
alias dkstp='docker-compose stop'
alias dkb='docker build '
alias dki='docker images'
alias dkrmi='docker rmi'
alias dkp='docker ps'
alias dkpa='docker ps -a'

# Kubernetes
alias start-minikube-and-setup-env='minikube start --driver=virtualbox --embed-certs && eval $(minikube docker-env)'


# List all files colorized in long format, including dot files
alias la="l -A"

# List all files colorized in long format
alias cl="clear && l"

# List all files colorized in long format, including dot files
alias cla="clear && la"

# List all files colorized in long format, including dot files
alias clsd="cla | grep '^d'"

# List only directories
alias lsd="la | grep '^d'"

# Looking at files
alias lsi='less -i'
alias tlf='tail -Fn100'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias canary='/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
 alias flush-dns-cache="dscacheutil -flushcache && killall -HUP mDNSResponder"


# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Trim new lines and copy to clipboard
alias copy="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup-ds-store-files="find . -type f -name '*.DS_Store' -ls -delete"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .git  | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
# Make a simple GET request: GET http://example.com/some/path
# Upload a file with a POST request: POST http://example.com/some/path < path/to/file
# Make a request with HTTP authentication: lwp-request -C username:password -m METHOD http://example.com/some/path
# for more see: https://www.mankier.com/1/lwp-request
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

# Make Grunt print stack traces by default
#command -v grunt > /dev/null && alias grunt="grunt --stack"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
#alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="pmset displaysleepnow"

# Reload the shell (i.e. invoke as a login shell)
alias reload="echo 'Reloading..' && sleep 1 && exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
